@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    gap: 16px;
}

.first-section-container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    gap: 32px;
}

.footer {
    background-color: #1F2937;
}

.footer p {
    text-align: center;
    color: #E5E7Eb;
}

.first-section {
    background-color: #1F2937;
    display: flex;
    padding-top: 32px;
    padding-bottom: 64px;
}

.left-card {
    flex: 1;
}

.right-card {
    flex: 1;
}

.right-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

.left-card h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-top: 0;
}

.left-card p {
    font-size: 18px;
    color: #e5e7eb;
}

.second-section {
    background-color: white;
}

button {
    border-radius: 8px;
    background-color: #3882f6;
    font-weight: bold;
    text-align: center;
    width: 100px;
    height: 30px;
    color: white;
    border-width: 1px;
}

a {
    color: #E5E7Eb;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto;
}